:root {
  --col-bk: #000405;
  --col-bk2: #0e0e0e;
  --col-bk3: #1e1e1e;
  --col-wh: #fdfdfd;
  --col-dourado: #d39019;
  --col-douradodark: #f39b03;
}

.col-bk {
  color: var(--col-bk);
}
.col-bk2 {
  color: var(--col-bk2);
}
.col-bk3 {
  color: var(--col-bk3);
}
.col-wh {
  color: var(--col-wh);
}
.col-dourado {
  color: var(--col-dourado);
}
.col-douradodark {
  color: var(--col-douradodark);
}
